.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.container{
  width: 100%;
  box-sizing: border-box;
  padding: 2vh 2vw;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
