section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

aside {
  width: 200px;
  height: 100vh;
  height: 100dvh;

  box-sizing: border-box;
  border: 1px solid #ccc;
}

h2{
  text-align: center;
}
